@model string

<!DOCTYPE html>
<html>
<head>
    <title>Desconectado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hasta pronto</h4>
                        <p class="card-text">Vuelve pronto, @Model</p>
                        <a href="/" class="btn btn-primary">Volver a la página principal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
