@model SistemaGestionEntities.Venta

<h2>Cargar Venta</h2>

<form asp-action="Post" method="post">
    <div class="form-group">
        <label for="Comentarios">Comentarios</label>
        <input type="text" class="form-control" id="Comentarios" name="Comentarios" value="@Model.Comentarios">
    </div>
    <div class="form-group">
        <label for="UsuarioId">Usuario ID</label>
        <input type="text" class="form-control" id="UsuarioId" name="UsuarioId" value="@Model.UsuarioId">
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
